<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
    <div>
        <form action="/user/login" method="POST">
            <h3>Login form</h3>
            <label>Email</label>
            <input type="text" name="email" required>
            <label>password</label>
            <input type="text" name="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>